@font-face {
    font-family:PressStart2P;
    src: url(./Fonts/PressStart2P-Regular.ttf);
 }

/*Header Do projeto */
body{
    background-image:url(./Imagens/bakcground.jpg);
}

#Animacoes{
    display:flex;
    justify-content: space-around;
}

#Animacoes h1{
    font-family:PressStart2P;
    color: white;
    font-size: 1rem;
    width: 50%;
    margin-top: 100px;
    border-right: 2PX rgb(238, 238, 245) solid;
    padding-right: 100px;
    height: 160px;
    width:50%;

} 
/*Flutuação da imagen*/
.disco-Voador{
    width: 200px;
    animation: float 3s ease-in-out infinite;
    margin-top:5px;
    
}
@keyframes float {
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateX(-50px);
    }
}
/*Acordeon*/
.container{
    margin-top: 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

   .accordionItem{
    color: white;
    background-color: rgb(100, 97, 97);
    width: 50%;
    box-shadow: 10px;
    border-radius: 10px;
    margin-top: 10px; 
}
.accordionTitle {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 12px;
    padding:5px;
  
  }
  .accordionItem h2{
    font-size: 1.5rem;
  }
  
  .accordionTitle + .accordionContent {
    display: none; 
  }
  .accordionTitle.is-open + .accordionContent {
     display: block;
   -webkit-animation: transition 1.3s linear;
    -moz-animation: transition 1.3s linear;
  }
  @-webkit-keyframes transition {
    0% {
       opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes transition {
    0% {
      opacity:0;
    }

    100% {
        opacity: 1;
    }
}
  .accordionContent {
    background-color: rgb(18, 18, 20);
    height: 100px;
    
   
  }
  
  .accordionContent p{
    color:white;
    font-family: PressStart2P, sans-serif;
    font-size:0.7rem;
    padding-top: 5px;
    padding-left: 5px;
  }


/*Dispositivos com o maáximo de 467px*/

@media only screen and (max-width: 467px) {
    /*Animação float + TypeWrither*/

    #Animacoes h1{
        font-size: 0.7rem;
        margin-right: 25px;
        height:135px;
        margin-top: 50px;
       
    }
    .disco-Voador{
        width: 100px;
        margin-top: 65px;
        height:70px;
        margin-right: 30px;
    }
    @keyframes float {
        0%, 100%{
            transform: translateY(10px);
        }
        50%{
            transform: translateX(-25px);
        }
    }

    /*ACORDEON*/

    .accordionItem{
        width: 70%;
    }
    .accordionItem h2{
        font-size: 1.3rem;
    }
     .accordionContent {
        background-color: rgb(18, 18, 20);
        height: 250px;
     }
  }

/*Dispositivos com no minimo 468px  e  no máximo 768px*/
@media only screen and (max-width: 768px) {
    /*Animação float + TypeWrither*/

    h1{
        font-size: 0.7rem;
        padding-right:1px;
        height:150px;
        margin-top: 50px;
    }
    .disco-Voador{
        width: 100px;
        margin-top: 65px;
        height:70px;
        margin-right: 60px;
    }
    @keyframes float {
        0%, 100%{
            transform: translateY(10px);
        }
        50%{
            transform: translateX(-25px);
        }
    }
  }
  